Task.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://retis.sssup.it/cbsd" xmlns:cbsd="http://retis.sssup.it/cbsd"
	elementFormDefault="qualified">

	<element name="Task">
		<complexType>
			<sequence maxOccurs="1" minOccurs="1">
				<element name="ID" type="string"></element>
				<element name="Period" type="int"></element>
				<element name="RelativeDeadline" type="int"></element>
				<element name="WCET" type="int"></element>
			</sequence>
		</complexType>
	</element>

</schema>